[submodule "contrib/backward"]
	path = contrib/backward
	url = https://github.com/bombela/backward-cpp.git
[submodule "contrib/imgui"]
	path = contrib/imgui
	url = git@forge.univ-lyon1.fr:p1807560/imgui-fork.git
[submodule "contrib/fastgltf"]
	path = contrib/fastgltf
	url = https://github.com/spnda/fastgltf.git
